<div class="login-wrapper">


      <div class="login-form center-object">

        <div class="card">
          <form class="form-group">
              <mat-form-field class="form-control">
                  <input matInput [(ngModel)]="fName" name="fName" placeholder="First Name">
                </mat-form-field>
                <mat-form-field class="form-control">
                    <input matInput [(ngModel)]="lName" name="lName" placeholder="Last Name">
                  </mat-form-field>
            <mat-form-field class="form-control">
              <input matInput [(ngModel)]="userEmail" name="email" placeholder="Email">
            </mat-form-field>
            <mat-form-field class="form-control">
              <input type='password' [(ngModel)]="userPw"  name="password"matInput placeholder="Password" style="height: 14px;">
            </mat-form-field>
          </form>
          <div class="card-footer">
            <button mat-raised-button color="primary" (click)="register()" type="submit">Register</button>
            <span class="float-right">
              Already have an account?  <button mat-raised-button [routerLink]="['/login']" type="button">Login</button>
            </span>
          </div>
          

        </div>

      </div>

    </div>

    <app-spinner *ngIf="showSpinner"></app-spinner>
