<div class="text-center">
    <h4 >Class Subscribed : </h4>
    <mat-card>
        <mat-card-title>
         <h4>Class name</h4> 
        </mat-card-title>
        <hr>
        <mat-card-content class="clearfix">
         <div class="float-left">
           <p>
              Professor: Joe 
              <br>
              Events:3
           </p>
         </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>View Events</button>
          </mat-card-actions>
      </mat-card>
      
      <mat-card class="mt-4">
         
      <input matInput placeholder="Search for Classes" type="text" class="example-right-align">
      
           
          
      </mat-card>
</div>
