.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.75;
  background: rgba(47, 79, 79, 0.75);
}

mat-spinner {
  position: relative;
  margin: auto;
  top: 50%;
}
