<!-- <div class="fullscreen-bg">
    <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
        <source src="../../../assets/thesoundoffilmmp4.mp4" type="video/mp4">
    </video>
</div> -->
<div class="center-object">
    <h1 class="text-center"> Extra-Credit</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
    <div class='center-btn'>
        <button mat-raised-button color="primary" [routerLink]="['/professor-landing']" >I'm a Professor</button>
        <button mat-raised-button style="margin-left:.75rem" [routerLink]="['/students-landing']">I'm a Student</button>
    </div>

</div>
<video playsinline autoplay muted loop poster="./thesoundoffilmmp4.jpg" id="bgvid">
    <source src="../../../assets/thesoundoffilmmp4.mp4" type="video/mp4">
</video>

