<div class="row">
    <div class="col-12">
      <mat-card>
          <mat-card-title align="center">
            <h4>INFOSYS3600</h4>
            <mat-card-subtitle>
                Professor Name
              </mat-card-subtitle>
          </mat-card-title>
     
        <mat-card-content align="left" class="clearfix">
          <p><strong>Description: </strong><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam delectus dolorum eligendi explicabo laudantium maxime minus nobis reprehenderit temporibus. Adipisci deserunt eos illo illum ipsam laboriosam nam nostrum voluptate</p>
          <p><strong>Subscribers: </strong><br>3</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="warm">Subscribe to Class</button>
          </mat-card-actions>
      </mat-card>


     <div >
      <h3 class="mt-3">Events: </h3>
      <mat-card >
          <mat-card-title align="center">
            <h4>Event Name</h4>
          </mat-card-title>
     
        <mat-card-content align="left" class="clearfix">
          <p><strong>Date: </strong><br>3/3/18</p>
          <p><strong>Description: </strong><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam delectus dolorum eligendi explicabo laudantium maxime minus nobis reprehenderit temporibus. Adipisci deserunt eos illo illum ipsam laboriosam nam nostrum voluptate</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Primary</button>
          </mat-card-actions>
      </mat-card>
    </div>
    
    </div>



    
  </div>