<div class="text-center">
  <h4 >Results for: {{keyword}}</h4>
  <div *ngFor="let result of fResult; let i = index">
  <mat-card class="mt-1">
      <mat-card-title>
       <h4>{{result.name}}</h4> 
      </mat-card-title>
      <hr>
      <mat-card-content class="clearfix">
       <div class="float-left">
         <p>
            Professor: {{result.professor}} 
         </p>
         <p class="float-left">
           Events:{{result.event}}
         </p>
       </div>
      </mat-card-content>
      <mat-card-actions>
          <button mat-button (click)="navToDetail(result.id)" >View Class Details</button>
        </mat-card-actions>
    </mat-card>
</div>
</div>
